
body {
	margin: 0 0 0 0;
	background-color: #F8F8F8;
}

.main-display {
	background-image: url('../images/cart.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 18rem;
	border: 4px solid #303030;
	border-bottom: 0px;
}

.main-display .paper-towels {
	margin-top: 0;
	text-align: right;
	font-family: "Nobile", "Arial", cursive;
	font-size: 4em;
	font-weight: bold;
	letter-spacing: 6px;
}

form {
	/*display: inline;*/
}

.your-list {
	color: #303030;
	line-height: 1.5;
}

.green-text {
	font-weight: bold;
	border: 1px solid #33CC66;
	background-color: #33CC66;
	border-radius: 3px;
	color: black;
}

.red-text {
	font-weight: bold;
	border: 1px solid #700000;
	background-color: #700000;
	border-radius: 3px;
	color: white;
}

.no-items {
	color:  red;
	font-weight: bold;
	font-style: italic;
}

.add-items {
	margin: 0 auto;
	width: 100;
	height: 50px;
	background-color: #303030;
	text-align: center;
}

.add-items #list-value {
	border: 0px solid #303030;
	padding-left: 10px;
	width: 50%;
	height: 30px;
	font-size: 1.2em;
	font-family: 'PT Serif', serif;
	border-top: 1px solid #303030;
	border-bottom: 1px solid #303030;
	border-radius: 3px;
	margin-top: 8px;
}

.add-items #button {
	border: 0px solid #303030;
	border-radius: 3px;
    background-color: white;
    color: #303030;
    height: 28px;
    width: 8em;
    font-size: 16px;
    font-family: 'PT Serif', serif;
    padding-bottom: 0;
}

.add-items #button:hover {
	font-weight: bold;
}

.list-items {
	text-align: center;
	font-family: 'PT Serif', serif;
}

.list-items ul {
	list-style-type: none;
	margin-left: 30%;
	margin-right: 30%;
	padding-left: 0;
	padding-right: 0;
	border: 4px solid #303030;
	border-radius: 3px;
}

.list-items li {
	padding: 10px 6px 10px 6px; 
	margin: 10px 10px 10px 10px;
	word-wrap: break-word;
	line-height: 1.5;
}

.red-item {
	border: 3px solid #700000;
	border-radius: 3px;
	background-color: #700000;
	color: white;
}

.red-item:hover {
	border: 3px solid #33CC66;
	border-radius: 3px;
	background-color: #700000;
	color: white;
}

.green-item {
	border: 3px solid #33CC66;
	border-radius: 3px;
	background-color: #33CC66;
	color: black;
}

.green-item:hover {
	border: 3px solid #700000;
	border-radius: 3px;
	background-color: #33CC66;
	color: black;
}

.list-items .about a{
	text-transform: none;
	font-style: italic;
	color: #303030;
}

.remove-item-link {
	text-transform: uppercase;
	border: 2px solid red;
	padding-left: 2.5px;
    padding-right: 2.5px;
    padding-top: 1px;
    padding-bottom: 1px;
	font-size: 14px;
	border-radius: 12px;
	background-color: red;
	color: white;
	font-weight: bold;
}

.remove-all-link {
	text-transform: uppercase;
	border: 2px solid red;
	padding-left: 2.5px;
    padding-right: 2.5px;
    padding-top: 1px;
    padding-bottom: 1px;
	font-size: 14px;
	border-radius: 12px;
	background-color: red;
	color: white;
	font-weight: bold;
	display: none;
}

/* Responsive CSS Media Query for Mobile Devices: Tested iPhone 6 (non-plus) and below and Samsung Galaxy S6 */
@media only screen  
and (max-device-width : 375px) 
and (orientation : portrait) {

.main-display {
	background-image: url('../images/cart.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 10rem;
	border: 2px solid #303030;
	border-bottom: 0px;
}

.main-display .paper-towels {
	margin-top: 0;
	text-align: right;
	font-family: "Nobile", "Arial", cursive;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 6px;
}

.add-items #list-value {
	border: 0px solid #303030;
	padding-left: 10px;
	width: 50%;
	height: 30px;
	font-size: 1em;
	font-family: 'PT Serif', serif;
	border-top: 1px solid #303030;
	border-bottom: 1px solid #303030;
	border-radius: 3px;
	margin-top: 8px;
}

.add-items #button {
	border: 0px solid #303030;
	border-radius: 3px;
    background-color: white;
    color: #303030;
    height: 28px;
    width: 6em;
    font-size: 14px;
    font-family: 'PT Serif', serif;
    padding-bottom: 0;
}

.your-list {
	color: #303030;
	line-height: 1.5;
	font-size: 12px;
}


.list-items ul {
	list-style-type: none;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 0;
	padding-right: 0;
	border: 4px solid #303030;
	border-radius: 3px;
}

.red-item:hover {
	border: 3px solid #700000;
	border-radius: 3px;
	background-color: #700000;
	color: white;
}

.green-item:hover {
	border: 3px solid #33CC66;
	border-radius: 3px;
	background-color: #33CC66;
	color: black;
}

}




















